<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AddingNewCar</title>
</head>
<body>

<h2> Here you can add new Cars</h2>
<br/>
<form action="/addCar">
    Car producer:<input id="producer" name="producer">
    <br/>
    Car model name:<input id="modelName" name="modelName">
    <br/>
    Car version:<input id="version" name="version">
    <br/>
    Car production year:<input id="productionYear" name="productionYear">
    <br/>
    <input type="submit" value="Add new car">
</form>
<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>
<br/>
<form action="/carList">
    <input type="submit" value="Go to car list">
</form>

</body>
</html>